<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Bienvenido a la página de <%= title %></p>

    <h2><%= title2 %></h2>
    <p>A continuación se detallan nuestros servicios: <%= title3 %></p>

    <h3> Nuestra empresa le agradece su interés por nuestros servicios. Firmado: </h3>
    <p> <%= title4 %> </p>





  </body>
</html>
